name: Sync Fork with Upstream
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork
        uses: tgymnich/fork-sync@v2.0.10
        with:
          owner: amzxyz
          repo: rime_wanxiang  
          base: master
          head: wanxiang
          merge_method: rebase
          token: ${{ secrets.PAT }}